<section class="wrapper content chat-window">
  <section class="messages scroll" id="group-messages">
    <% @group.comments.each do |comment| %>
    <div class="message">
      <h3>
        <%= @group.users.find(comment.owner_id).username %>
      </h3>
      <p>
        <%= comment.post %>
      </p>
    </div>
    <% end %>
  </section>

  <div class="chat-bar">
    <form action="/groups/<%= @group.id %>" method="post">
      <input name="post" placeholder="message <%= @group.name %>">
    </form>
  </div>

</section>
