
<div class="scroll-main groups">
  <% @groups.each do |club| %>
    <div>
    <h2><%= club.name %></h2>
    <p><%= club.description %></p>
    <form action="/groups/<%= club.id %>/join" method="post">
    <button>Join</button>
    </form>
    <hr>
    </div>
    <% end %>
</div>
