<section class="group-messages" id="group-messages">
  <% @group.comments.each do |comment| %>
  <div class="message">
    <h3>
      <%= @group.users.find(comment.owner_id).username %>
    </h3>
    <p>
      <%= comment.post %>
    </p>
  </div>
  <% end %>
</section>

<section class="chat-bar">
  <form action="/groups/<%= @group.id %>" method="post">
    <input name="post" placeholder="message <%= @group.name %>">
  </form>
</section>
