
<main>

  <div class="home-windows">
    <div class="container user-profile">
      <h2>My Profile</h2>
      <h3><%= @user.username %></h3>
      <% @user.interests.each do |interest| %>
      <div class="group-icon">
        <p><%= interest.interest_name %></p>
      </div>
      <% end %>
      <div class="addition">
        <a href="/">Add more interests</a>
      </div>
    </div>

    <!-- <div class="container user-groups">
      <h2>My Groups</h2>
      <% @user.groups.each do |group| %>
      <div class="group-icon">
        <p><a href="/groups/<%= group.id %>"><%= group.name %></a></p>
      </div>
      <% end %>
      <div class="addition">
        <a href="/groups">Find more groups</a>
      </div>
    </div> -->
  </div>



</main>
