<h1>hello world</h1>

<main>
  <div class="user-profile">
    <h2></h2>
  </div>

  <div class="user-groups">
    <h2>My groups</h2>
    <div class="group"></div>
    <div class="group"></div>
    <div class="group"></div>
    <div class="group"></div>
    <div class="group"></div>
    <div class="group"></div>
  </div>



</main>
