<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <% if logged_in? %>
    logged in as <%= current_user.username %>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
  <% else %>
    not logged in
  <% end %>

  <%= yield %>

</body>
</html>
