<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
</head>
<body>
  <header>
    <h1 class="logo">
      <a href="/">
        <div>HOSPI-PALS</div>
        <!-- <div id="logo-second">-PALS</div> -->
      </a>
    </h1>
    <div class="session-status">
      <% if logged_in? %>
      <div>
        <%= current_user.username.upcase %> LOGGED IN
        <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <button id="logout">LOGOUT</button>
        </form>
      </div>
      <% else %>
      PLEASE LOGIN
      <% end %>
    </div>
  </header>

  <% if logged_in? %>
    <aside>
      <section class="navigation">
        <div class="title">
          <span>GROUPS</span>
          <span>
            <a href="/groups">
              &#x2295
            </a>
          </span>
        </div>
        <% current_user.groups.each do |user_group| %>
          <li><a href="/groups/<%= user_group.id %>">@  <%= user_group.name %></a></li>
        <% end %>
        <div class="title">
          <span>PEOPLE</span>
          <span>&#x2295</span>
        </div>
          <li>
            <span>*</span>
            <span>Jane Doe</span>
          </li>
          <li>
            <span>*</span>
            <span>Bugs Bunny</span>
          </li>
          <li>
            <span>*</span>
            <span>Alfons Vanrostie</span>
          </li>
      </section>
    </aside>
  <% end %>



  <section class="wrapper">
    <%= yield %>
  </section>
</body>
<script src='/javascripts/application.js'></script>
</html>
