<main>

  <div class="about">
    <h2>Hi, welcome to hospi-pals</h2>
    <h3>About this site</h3>
    <p>This site hopes to create a safe place for
    people going through treatment to come
    an talk together, create events to meet up,
    and provide support and friendship to one another</p>
  </div>


  <form class="login" action="/session" method="post">
    <div>
      <input name="username" placeholder="Username">
    </div>
    <div>
      <input type="password" name="password" placeholder="Password">
    </div>
    <div>
      <button>Login</button>
    </div>
    <!-- <a href="#">Forgotten your password?</a> -->
  </form>





</main>
