<main>
  <div class="login-containers">
    <div class="container">
      <div class="">
        <h2 class="content">Hi, welcome to hospi-pals</h2>
        <h3 class="content">About this site</h3>
        <p>This site hopes to create a safe place for
          people going through treatment to come
          an talk together, create events to meet up,
          and provide support and friendship to one another
        </p>
      </div>
    </div>

    <div class="container">
      <div class="holder">
        <form class="login" action="/session" method="post">
          <input name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <button>Login</button>
          <a href="/user/new">New user?</a>
        </form>
      </div>
    </div>
  </div>






</main>
