

<form action="/user/new" method="post">
  <div>
    <input name="username" placeholder="Username">
  </div>
  <div>
    <input name="email" placeholder="Email Address">
  </div>
  <div>
    <input name="Age" placeholder="Age">
  </div>
  <div>
    <input name="location" placeholder="location">
  </div>
  <div>
    <input type="password" name="password" placeholder="Password">
  </div>
  <div>
    <input type="password" name="confirm_password" placeholder="Confirm Password">
  </div>
  <div>
    <button>Create Account</button>
  </div>

</form>
