* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100vh;
}

.user-groups {
  width: 50%;
  height: 80%;
  background-color: steelblue;
  display: inline-block;
  vertical-align: top;
  margin: 40px 20px 20px 20px;
}

.user-profile {
  width: 15%;
  height: 80%;
  background-color: steelblue;
  display: inline-block;
  margin: 40px 20px 20px 20px;
}

.login {
  margin: 0 auto;
  width: 500px;
  height: 250px;
  /*padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;*/
}

header {
  background-color: #416C8D;
  margin: 0;
  height: 16vh;
}

h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 40px;
  margin: 0 5px;
  padding: 5px;
}

.logo {
  display: inline-block;
}

.session-status {
  float: right;
  text-align: right;
  vertical-align: top;
  margin: 1em;
}

#logout {
  padding: .5em;
  width: 100%;
  border-radius: .5em;
}

a {
  text-decoration: none;
  color: black;
}

#logo-second {
  margin-left: 30px;
}

.container {
  padding: 30px;
  width: 35%;
  height: 60vh;
  text-align: center;
  background-color: white;
  border: 3px solid #6AB393;
  display: inline-block;
  margin: 12vh 2.5vw;
  vertical-align: top;
  border-radius: 3em;
}

.addition {
  margin-top: 10px;
  font: 1em sans-serif;
  padding: 1em;
}

aside {
  display: inline;
  height: 84vh;
  float: left;
  width: 20%;
  background-color: #7777B6;
}

.wrapper {
  height: 84vh;
  background-color: rgb(185, 226, 238);
}

.group-messages {
  height: 76vh;
  overflow: scroll;
  padding: 0 40px;
}

.group-icon {
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  font: 1em sans-serif;
  padding: .1em;
  box-sizing: border-box;
  border: 1px solid #999;
}

.chat-bar {
  height: 8vh;
  width: 80%;
  display: inline-block;
  text-align: center;
  background-color: white;
}

.chat-bar input {
  /*margin-left: 25%;
  margin-right: 5%;*/
  width: 96%;
  border-radius: 5px;
  margin-top: 15px;
  font: 1em sans-serif;
  padding: .5em;
  box-sizing: border-box;
  border: 1px solid #999;
}

.navigation {
  margin: 20px 5%;
}

.navigation li {
  list-style: none;
  padding-top: 1em;
}

.login {
  width: 100%;
  max-width: 300px;
  height: 100%;
  vertical-align: middle;
}

.about h2 {
  margin-top: 0;
}

.container-contents {
  /*vertical-align: middle;*/
  /*margin: 40% auto;*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.login-containers {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

main {
  display: inline;
  float: left;
  width: 80%;
  height: 100%;
}

form div + div {
  margin-top: 1em;
}

.login input{
  font: 1em sans-serif;
  padding: .5em;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}

.home-windows {
  margin: 0 auto;
}

.login button {
  font: 1em sans-serif;
  padding: .5em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #999;
}

/* As hex codes */

.color-primary-0 { color: #285679 }	/* Main Primary color */
.color-primary-1 { color: #688CA8 }
.color-primary-2 { color: #416C8D }
.color-primary-3 { color: #164163 }
.color-primary-4 { color: #052B47 }

.color-secondary-1-0 { color: #343484 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #7777B6 }
.color-secondary-1-2 { color: #4E4E99 }
.color-secondary-1-3 { color: #1F1F6B }
.color-secondary-1-4 { color: #0C0C4E }

.color-secondary-2-0 { color: #25815A }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #6AB393 }
.color-secondary-2-2 { color: #3F9671 }
.color-secondary-2-3 { color: #126944 }
.color-secondary-2-4 { color: #014C2C }*/
